<%- include('partials/header')%>
<main>
    <h1>The lord of the rings</h1>
<div class="main-p">
    <p>It began with the forging of the Great Rings.
     Three were given to the Elves, immortal, wisest and fairest of all beings.
     Seven to the Dwarf-Lords, great miners and craftsmen of the mountain halls.
     And nine, nine rings were gifted 
     to the race of Men, who above all else desire power. 
     For within these rings was bound the strength and the will 
     to govern each race. But they were all of them deceived,
     for another ring was made. Deep in the land of Mordor,
     in the Fires of Mount Doom,
    the Dark Lord Sauron forged a master ring, and into this ring he poured his cruelty, his malice and his will to dominate all life.</p>
</div>

<%# Main box separated into two parts for SCSS styling %>

    <div class="main-box">
        <div class="table-image">

          <table>

            <thead>
                <tr>
                    <th>The story</th>
                    <th>Characters</th>
                    <th>Ideology</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        It began with the forging of the Great Rings.
                    </td>

                    <td>
                        Sauron, Elves, Dwarves, Men
                    </td>

                    <td>
                        Power corrupts everyone.
                    </td>
                </tr>
            </tbody>

            <tfooter>
                <td>
                    Sauron, the Dark Lord, has gathered to him all the Rings of Power – the means by which he intends to rule Middle-earth.
                <td>
                    Frodo Baggins (the Ring-bearer), Samwise Gamgee, Meriadoc "Merry" Brandybuck, and Peregrin "Pippin" Took
                </td>
                <td>
                    Lord of the Rings is arguably one of the greatest pieces of literature ever produced. 
                </td>

            </tfooter>

        </table>


            <img src="https://m.media-amazon.com/images/M/MV5BNzU2ODUxODgtNTdkYi00OTFmLWExNTctYWQ1NGVmYmQxNjMxXkEyXkFqcGc@._V1_.jpg"
            alt="The lord of the rings">
        </div>
    </div>

</main>

<%- include('partials/footer')%>